body{
    background-color: #ffeedf;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    color: #999;
}

#root .bizCards{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 62px;
    
    margin-top: 62px;
    margin-bottom: 62px;

}

#root .bizCards .bizCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: left;
    flex-wrap: wrap;

    width: 290px;
    height: 416px;

    padding: 27px;

    background-color: #fff;
}

#root .bizCards .bizCard h2.name{
    flex: 1;
    /* align-self: flex-end; */
    /* padding-bottom: 80px; */
    font-size: 48px;
    color: #33793f;
    
    word-spacing: 8em;
}

#root .bizCards .bizCard h6.restaurantName{
    flex: 1;

    padding-top: 20px;

    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1em;
}

#root .bizCards .bizCard p.restaurantAddress{
    flex: 1;
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    word-spacing: 0.5em;
}

@media only screen and (max-width: 1118px) {
    #root .bizCards{
        width: 100%;
        height: max-content;


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 62px;
    }

    #root .bizCards .bizCard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: left;
        flex-wrap: wrap;
    
        width: 290px;
        height: 416px;
    
        padding: 27px;
    
        background-color: #fff;
    }
}